* {
    box-sizing: border-box;
}
:root {
    --primary-color: #FFB900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
    color: #FFFFFF;
}

/* btn */
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    background: #FFB900;
    cursor: pointer;
}
/* dots */
.dots-list {
    display: flex;
    align-items: center;
    margin-top: 28px;
    gap: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.dot:hover {
    background: var(--primary-color);
}

/* main-content */
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-4 {
    --line-clamp: 4;
}

.break-all {
    word-break: break-all;
}

/* heading */
.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.heading.lv3 {
    font-size: 1.8rem;
    line-height: 1.67;
}

.heading.lv4 {
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}

/* desc */
.desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.desc.lv1 {
    margin: 22px 0;
}

.desc.lv2 {
    margin: 6px 0 12px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.desc.lv2-2 {
    font-size: 1.4rem;
    line-height: 1.86;
}

.desc.lv2-3 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
}

.desc.lv3 {
    font-size: 1.6rem;
    line-height: 1.75;
}

.desc.lv3-2 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.desc.star {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}

.desc.comment {
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}

/* img */
.img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.img.lv1 {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}


/* title */
.title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

/* label */
.label {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Header */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -20px;
    z-index: 1;
}

.body-header {
    display: flex;
    align-items: center;
    padding: 32px 0 8px;
}
.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .signup {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    background: #FFFCF4;
    padding: 56px 0 65px;
}

.hero .body-hero {
    display: flex;
    justify-content: space-between;
}

/* media block */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .courses-block {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .courses-block .item {
    display: flex;  
    align-items: center;
}

.hero .courses-block .item + .item {
    margin-top: 22px;
}

.hero .courses-block .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF9E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .courses-block .item:nth-child(2) .icon {
    background: #FCEFFF;
}

.hero .courses-block .item:nth-child(3) .icon {
    background: #EBEAFF;
}

.hero .courses-block .info {
    margin-left: 16px;
}

/* content-block */
.hero .content-block {
    width: 52%;
    padding-top: 64px;
    padding-left: 130px;
}

.content-block .num:nth-child(2) {
    margin-left: 28px;
}

.content-block .cta-group {
    margin: 38px 0 38px;
    display: flex;
    align-items: center;
}

.content-block .cta-group .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.content-block .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content-block .watch {
    margin-left: 14px;
}

.content-block .sup {
    margin-top: 8px;
    margin-left: -28px;
}

.content-block .num {
    font-family: var(--font-heading);
    padding: 0 8px 0 28px;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* Popular */
.popular {
    padding: 200px 0;
}

/* popular-top */
.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
}

.popular .control {
    display: flex;
    gap: 18px;
}

.popular .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
    cursor: pointer;
}

.popular .control-btn:hover {
    color: #FFFFFF;
    background: var(--primary-color);;
}

/* popular down */
.popular-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 55px;
}

.popular-down .courses-list {
    flex: 1;
    background: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}

.popular-down .courses-list:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular-down .courses-info {
    padding: 16px 22px 22px;
}

.popular-down .courses-info .courses-top a {
    color: #171100;
    padding-right: 8px;
}

.popular-down .courses-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-down .rating {
    display: flex;
    align-items: center;
}

.popular-down .courses-dow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Feed back */
.feed-back {
    padding: 96px 0;
    background: #2E2100;
    display: flex;
}

.feed-back .body-fb {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.feed-back .customer {
    width: 34%;
    max-width: 159px;
}

.feed-back .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feed-back .name {
    margin-top: 18px;
}

.feed-back .department {
    margin: 4px 0 0;
}

.feed-back .feel {
    width: 66%;
    margin-left: 241px;
}

.feed-back .feel blockquote {
    max-width: 770px;
    min-height: 160px;
    margin-left: 30px;
}

/* Features */
.features {
    padding: 200px 0;
}

.features .lh {
    margin-top: 16px;
}

.features .btn {
    margin-top: 32px;
    width: 137px;
}

.features-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .photo {
    position: relative;
    width: 49%;
}

.features .thumb1 {
    position: absolute;
    top: 34px;
}

.features .thumb2 {
    margin: 0 0 0 300px;
}

.features .thumb1, .thumb2 {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.features .thumb3 {
    margin-left: 130px;
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

.features .features-top .features-info {
    max-width: 470px;
}

.features .features-info {
    width: 51%;
    max-width: 570px;
}

.features-down {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Blog */
.blog {
    padding: 96px 0;
    background:  #FFFCF4;
}

.blog .blog-title {
    max-width: 448px;
    text-align: center;
    margin: 16px auto;
}

.blog h2 {
    text-align: center;
}

.blog .post {
    margin-top: 55px;
}

.blog .post-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog .post-item {
    max-width: 370px;
    min-height: 467px;
    background: #FFFFFF;
    border-radius: 16px;
}

.blog .post-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .thumb_post {
    width: 370px;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog .calender {
    display: flex;
    align-items: center;
}

.blog .dot-post {
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFB900;
}

.blog .btn {
    margin-top: 12px;
}

.blog .post-info {
    padding: 20px 20px 28px;
} 

.blog .post .hr-blog {
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    margin: 12px 0 12px;
}

.blog .dots-list {
    margin: 38px auto ;
    justify-content: center;
}

/* footer */
.footer {
    padding: 96px 0 28px;
    background: #2E2100;
}

.footer .info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo-item {
    width: 267px;
}

.footer .logo-item p {
    margin-top: 18px;
}

.footer .social {
    margin-top: 18px;
}

.footer .icon-social {
    margin-right:  18px;
}

.footer .hr-item {
    margin: 14px 0 16px;
    width: 130px;
    height: 0.5px;
    border: none;
    background: #59554B;
}

.footer .contact {
    margin-top: 12px;
}

.footer .link {
    color: #BFBCB2;
}

.footer .address-item {
    max-width: 231px;
}

.footer .address-item p {
    margin: 12px 0 12px;
    color: #BFBCB2;
}

.footer .lighthight {
    font-weight: 600;
    color: #FFFFFF;
}

.footer .hr-end {
    margin-top: 38px;
    width: 1170px;
    height: 0.5px;
    border: none;
    background: #59554B;
}

.footer .copyright {
    margin-top: 28px;
    text-align: center;
}